.main{
   width: 100%;
    box-shadow: 1px 2px 1px 2px grey;
    overflow: hidden;
    display: flex;
    position: relative;
}
.nkar{
    transform: scale(1.1);
    transition: 1s;
    filter: grayscale(0);
    
}

.erkrord{
right: 100%;
width: 80%;
height: 100%;
background-color: yellow;
z-index: 2;
position: absolute;
display: flex;
align-items: center;
transition: 1s;
}

.main:hover .erkrord{
    right: 20%;
    transition: 1s;
}
.main:hover .nkar{
    transform: scale(1);
    transition: 1s;
    filter: grayscale(75%);
    opacity: 75%;
}

.spitak{
width: 100%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}


.awesome{
    display: flex;
}
.awesome>a{
    list-style: none;
    margin: 0 10px;
    background: rgb(241, 229, 229);
    border: 1px solid rgb(241, 229, 229);
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    color: red;
    animation-delay: 2s;
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function:ease;
}
@keyframes spin {
    0%{transform: rotate(0deg);}  
    50%{transform: rotate(180deg);} 
    100%{transform: rotate(0deg);} 
}

.conteiner-fluid{
    position: relative;
    }
    .nkar{
       position: absolute;
       top: -7%;
       left: 7%;
       width: 168px;
    }
    .nkar1{
        position: absolute;
        bottom: 0;
        right: 10%;
    }
    .row{
        border: 4px solid #C4B682;
        height: 420px;
    }
    .p-4{
        z-index: 1;
    }
    
    @media (max-width: 680px) {
    .nkar1{
        display: none;
    }
     }
    